torch --index-url https://download.pytorch.org/whl/nightly/cu118
lion-pytorch
numpy
einops
bitsandbytes
accelerate
transformers
SentencePiece
datasets
memory-profiler
wandb
pytest
zetascale
matplotlib