torch --index-url https://download.pytorch.org/whl/nightly/cu118
lion-pytorch
numpy
einops
bitsandbytes
triton
accelerate
transformers

SentencePiece
datasets
deepspeed
memory-profiler
rouge
nltk
scikit-learn
wandb


matplotlib